/*Tcoloca a imagem do fundo, ainda não sei como pegar a imagem em outro local */
body {
  background-image: url(fundo.jpg);
}
/* Posicionando o logo provisorio*/
#logo{
  margin-left: -250px;
  position: absolute;
  left: 50%;
}
  

#FieldErro{
  height: 20px;
  position:absolute;
  top:40%;
  left:20%;
}

#Form{
  text-align: center;
  width: 240px;
  height: 300px;
  position:absolute;
  top:50%;
  left:43%;
}

ul li{
 list-style-type: none;
 padding-right: : 0;
}


/* posiciona o rodapé */
footer{
  position:absolute;
	bottom:0;
	width:100%;
  text-align: center;
  padding-left: 50;
}

/* Muda a cor dos links do rodapé */
footer a {
  color: black;
}
