{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>The Force </title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
      <div class="page-header">
          <h1><a href="/">The force</a></h1>

            <br>Logado Com: {{user}}</br>
            <br><a href={%url 'logout'%}>Sair</a></br>
      </div>

      <ul class="nav nav-pills nav-stacked">
        {% if user.is_staff %}
          <li role="presentation" class="active"><a href="/admin">Admin</a></li>
        {% endif %}
        <li role="presentation"><a href="{% url 'perfil' %}"> Perfil </a></li>
        <li role="presentation"><a href=""> Cadastro de itens </a></li>
        <li role="presentation"><a href=""> Lista de problemas </a></li>
      </ul>

      <div class="content container">
          <div class="row">
              <div class="col-md-8">
              {% block content %}
              {% endblock %}
              </div>
          </div>
      </div>
  </body
</html>
