{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>The Force </title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
      <div id="head">
          <img id="logo" src="{% static 'img/logo.png' %}"width="320" height="100"/>
          Logado Com: {{user}}
          <a href={%url 'logout'%}>
          <button  type="button" class="btn btn-default" aria-label="Left Align">
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Sair
          </button>
        </a>
      </div>
      <div id="divisa">
      </div>
      <div id="menugeral">
      <ul class="nav nav-pills nav-stacked">
        {% if user.is_staff %}
          <li role="presentation" class="active"><a href="/admin">Admin</a></li>
        {% endif %}
        <li role="presentation"><a href="{% url 'perfil' %}"> Perfil </a></li>
        <li role="presentation"><a href="{% url 'itens' %}"> Cadastro de itens </a></li>
        <li role="presentation"><a href="{% url 'problemas' %}"> Cadastrar problemas </a></li>
        <li role="presentation"><a href="{% url 'lista' %}"> Lista de problemas </a></li>
      </ul>
    </div>
      <div class="content container">
          <div class="row">
              <div class="col-md-8">
              {% block content %}

              {% endblock %}
              </div>
          </div>
      </div>
  </body
</html>
