<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<div class="container">
<p>
  <br>Informações do usuário:</br>
  <br>Username: {{username}}</br>
  <br>Nome: {{perfil.nome}}</br>
  <br>Sexo: {{perfil.sexo}}</br>
  <br>Data de Nascimento: {{perfil.datanascimento}}</br>
  <br>Email: {{perfil.email}}</br>
  <br>Telefone: {{perfil.telefone}}</br>
  <br>Endereço: {{perfil.endereco}}</br>
  <br>Número: {{perfil.numero}}</br>
  <br>Complemento: {{perfil.complemento}}</br>
  <br>Cep: {{perfil.cep}}</br>
  <br>Bairro: {{perfil.bairro}}</br>
  <br>Estado: {{perfil.estado}}</br>
  <br>Cidade: {{perfil.cidade}}</br>
  <br>Foto: {{perfil.foto}}</br>
</p>
</div>
