{% extends 'perfil.html' %}

{% block content %}
<div class="form">
    <b>Lista de Problemas</b> <p></p>

    <tbody>
        {% for post in objetos.reverse %}
        <ul class="nav nav-pills">
            <li role="presentation"><a href="{% url 'list_detail' pk=post.pk %}">{{post.equipamento}}</a></li>
        </ul>
        {% endfor %}
    </tbody>

{% endblock %}


<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>
</div>
